.sendMail {
  position: absolute;
  bottom: 0;
  right: 50px;
  background-color: #404040;
  width: 44%;
  height: 45%;
  max-width: 610px;
  min-width: 510px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail-header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.sendMail-header > h3 {
  font-size: 13px;
  color: #f5f5f5;
}

.sendMail-send {
  background-color: #3079ed !important;
  text-transform: capitalize !important;
  margin-left: 15px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.sendMail-carrot {
  background-color: #3079ed !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.sendMail-close {
  cursor: pointer;
}

.sendMail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sendMail-error {
  background-color: #ffffff;
  color: #ff0000;
  text-align: right;
  padding: 2px;
}

.sendMail > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
}

.sendMail-message {
  flex: 1;
  position: relative;
  top: 0;
}

.sendMail-options {
  background-color: white;
  display: flex;
  align-items: center;
}

.sendMail-Icons {
  display: flex;
}
@media only screen and (max-width: 580px) {
  .sendMail {
    right: 25px;
  }
}

.carrot {
  width: 18px !important;
}
